body {
    background-color: #ecf0f5;
}
.form-actions{display:block;background-color:#F5F5F5;border:1px solid #e9e9e9;margin-bottom:10px;margin-top:20px;padding:19px 20px 20px}
.navbar{
	margin:0;
	padding-left:0;
	padding-right:0;
	border-width:0;
	border-radius:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	min-height:45px;
	background:#438eb9;
	
/* -webkit-background-image: linear-gradient(to bottom, #589dc6, #498db6);
    -moz-background-image: -moz-linear-gradient(to bottom, #589dc6, #498db6);
    -ms-background-image: linear-gradient(to bottom, #589dc6, #498db6);
    -o-background-image: -moz-linear-gradient(to bottom, #589dc6, #498db6);
    background-image: linear-gradient(to bottom, #589dc6, #498db6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#589dc6', endColorstr='#498db6', GradientType=0);
    */
}
.indikator-simpan{
float:right; 
width:10px;
height:10px;
cursor:pointer;
border-radius:50%;
background-color:#666666;
margin-top:15px;	
margin-right: 5px;

}
.penjelasan_benar{
background:#E0FFE0;
display:none;
}
.penjelasan_salah{
background: #FFEA07;
display:none;
}

.hide-soal{
visibility:hidden;
display:none;
}
.e-copy {
	bottom: 0px;
	height: 30px;
	padding-top: 5px;
	border-top: 1px solid #d5d5d5;
	color: #888;
	width: 279px;
	position: absolute;
	background: #e5e5e5;
	float: left;
	text-align: center;
	font-size: 12px;
}
#peringatan {
    padding:20px; 
    position:fixed;
    z-index:10000000;
    display:none;
    width:50%;
    margin: 0 auto;
    left: 25%;
    right: 25%;
    height:auto; 
    border:1px solid #dddddd;
    top:25%;
    background:#f0f0f0;
}

div#bank_soal{
display:none;
visibility:hidden;
z-index:1000;
position:fixed;
top:0px;
left:0px;
right: 0px;
width:100%;
height:100%;
background:#ffffff;
overflow-y:scroll;

}

select[multiple].chosen-select {
	opacity: 0;
	height: 5px;
	margin: 0;
	padding: 0;

}
/*
.alert:after {
    font-family: 'FontAwesome';
	content: "\f00d";
}*/
.alert.success {		
	background: #6dd56d;
	padding-left: 36px;
}
.alert.error {		
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background: #e85f7c;
	padding-left: 36px;
}
.alert.info {		
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, #428bca, #2a6496);
	background-image: linear-gradient(to bottom, #428bca, #2a6496);
	border-color: rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.4);
	padding-left: 36px;
}
.alert.info:before {
	content: "\f05a";
}
.alert.success:before {
	content: "\f058";
}
.alert.error:before {  
	content: "\f057";
	/* content: "\f056"; */
}
.alert:before {
    font-family: 'FontAwesome';
    font-size: 27px;
    line-height: 10px;
    margin-right: 5px;
    display: inline-block;
    position: absolute;
    top: 12.5px;
	left: 8px;
	color:#fafafa;
	font-weight: normal;
}

.area-no-soal{
    width: 100%;
    padding-left: 20px;
	height: 170px;
	background: #f9f9f9;
    padding-top: 10px;
	padding-bottom: 10px;
}
.area-hasil-nilai{
    width: 100%;
    padding-left: 20px;
	height: 200px;
	background: #f9f9f9;
    padding-top: 10px;
	padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
}
.nomor-soal {
    padding: 5px;
    text-align: center;
    margin: 6px;
    width: 35px;
    height: 35px;
    color: #000;
    cursor: pointer;
    float: left;
    border: 1px solid #e5e5e5;
}
.nomor-soal:active,.nomor-soal:focus  {
	padding: 5px;
    text-align: center;
    margin: 6px;
    width: 35px;
    height: 35px;
    background: skyblue;
    color: #000;
    cursor: pointer;
    float: left;
    border: 1px solid blue;
}
.nomor-soal:visited {
	padding: 5px;
    text-align: center;
    margin: 6px;
    width: 35px;
    height: 35px;
    background: skyblue;
    color: #000;
    cursor: pointer;
    float: left;
    border: 1px solid blue;
}
.nomor-soal .soal-aktif {
    background: skyblue;
}
.answered {
    background: #5cb85c;
    color: #fff;
}
 .unanswered {
    background: #f56954;
	color: #fff;
}
.review {
    background: #FEE188;
	color: #fff;
}
.notvisited {
    background: #f8f8f8;
	color: #fff;
}

root { 
    display: block;
}

::-webkit-scrollbar {
    height:12px;
    width: 8px;
    border-radius: 2em;
    background: #e5e5e5; 
}
::-webkit-scrollbar:hover {
    height:12px;
    width: 8px;
    border-radius: 0px 0px 50px 50px;
    background: #d5d5d5; 
}
::-webkit-scrollbar-thumb {
    border-radius: 0px 0px 50px 50px;
    background-color: #bbb ; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}
::-webkit-scrollbar-track {
    border-radius: 1em;
    background: transparent;
}
::-webkit-scrollbar-track:hover {
    background: rgba(110, 110, 110, 0.25);
}

::-moz-scrollbar {
    height:12px;
    width: 8px;
    border-radius: 2em;
    background: #e5e5e5; //warna background scroll
}
::-moz-scrollbar:hover {
    height:12px;
    width: 5px;
    border-radius: 0px 0px 50px 50px;
    background: #d5d5d5; //warna background scroll
}
::-moz-scrollbar-thumb {
    border-radius: 0px 0px 50px 50px;
    background-color: #bbb ; //warna scroll
}
::-moz-scrollbar-thumb:hover {
    background-color: #999;
}
::-moz-scrollbar-track {
    border-radius: 1em;
    background: transparent;
}
::-moz-scrollbar-track:hover {
    background: rgba(110, 110, 110, 0.25);
}
/*
    Component: Small boxes
*/
.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}
/* Text colors */
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}

#loadingbar {
  position: fixed;
  z-index: 2147483647;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 1px;
  background: #ffffff;
    -webkit-animation: lblink 1.0s linear infinite;
    -moz-animation: lblink 1.0s linear infinite;
    -ms-animation: lblink 1.0s linear infinite;
    -o-animation: lblink 1.0s linear infinite;
    animation: lblink 1.0s linear infinite;
}
.blackMask {position: fixed; background: #f9f9f9;border: 1px solid #e0e0e0;display: table; width: 30%; height: 6%; top: 42%; left: 35%;right: 35%; bottom: 42%;cursor: wait; text-align: center; z-index: 152725671}
.blackMask .popupVCenter { cursor: wait; display: table-cell;  vertical-align: middle; text-align: center}
.popupVCenter .popup {position: relative; cursor: wait; text-align: center; color: #333; font-weight: 500; font-size: 14px}
.whiteGlow {box-shadow: 0 0 8px 2px rgba(255,255,255,0.6)}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-warning {
  border-top-color: #f39c12;
}
.box.box-success {
  border-top-color: #00a65a;
}
.box.box-default {
  border-top-color: #d2d6de;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #f4f4f4;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #f4f4f4;
}
.box .border-left {
  border-left: 1px solid #f4f4f4;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444444;
}
.box.box-solid.box-primary {
  border: 1px solid #3c8dbc;
}
.box.box-solid.box-primary > .box-header {
  color: #ffffff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #ffffff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-danger {
  border: 1px solid #dd4b39;
}
.box.box-solid.box-danger > .box-header {
  color: #ffffff;
  background: #dd4b39;
  background-color: #dd4b39;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #ffffff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #ffffff;
}
.box.box-solid.box-success {
  border: 1px solid #00a65a;
}
.box.box-solid.box-success > .box-header {
  color: #ffffff;
  background: #00a65a;
  background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #ffffff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  color: #999;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}
/*
 * Component: Progress Bar
 * -----------------------
 */
.progress,
.progress > .progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress,
.progress > .progress-bar,
.progress .progress-bar,
.progress > .progress-bar .progress-bar {
  border-radius: 1px;
}
/* size variation */
.progress.sm,
.progress-sm {
  height: 10px;
}
.progress.sm,
.progress-sm,
.progress.sm .progress-bar,
.progress-sm .progress-bar {
  border-radius: 1px;
}
.progress.xs,
.progress-xs {
  height: 7px;
}
.progress.xs,
.progress-xs,
.progress.xs .progress-bar,
.progress-xs .progress-bar {
  border-radius: 1px;
}
.progress.xxs,
.progress-xxs {
  height: 3px;
}
.progress.xxs,
.progress-xxs,
.progress.xxs .progress-bar,
.progress-xxs .progress-bar {
  border-radius: 1px;
}
/* Vertical bars */
.progress.vertical {
  position: relative;
  width: 30px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
}
.progress.vertical > .progress-bar {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.progress.vertical.sm,
.progress.vertical.progress-sm {
  width: 20px;
}
.progress.vertical.xs,
.progress.vertical.progress-xs {
  width: 10px;
}
.progress.vertical.xxs,
.progress.vertical.progress-xxs {
  width: 3px;
}
.progress-group .progress-text {
  font-weight: 600;
}
.progress-group .progress-number {
  float: right;
}
/*
.facebook{
  background: #3B5998; 
  width: 50%;
  height: 20px;
}

.twitter{
  background: #00ACED;
  width: 100%;
}

.google-plus{
  background: #D14836;
  width: 100%;
}
*/
